<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="projectT.TestCases.TestCasePIM"/>
      <class name="projectT.TestCases.TestCaseAdmin"/>
      <class name="projectT.TestCases.TestCaseLeave"/>
      <class name="projectT.TestCases.TestCaseTime"/>
      <class name="projectT.TestCases.TestCaseRecruitment"/>
      <class name="projectT.TestCases.TestCaseMyInfo"/>
      <class name="projectT.TestCases.TestCasePerformance"/>
      <class name="projectT.TestCases.TestCaseDirectory"/>
      <class name="projectT.TestCases.TestCaseClaim"/>
      <class name="projectT.TestCases.TestCaseBuzz"/>
      <class name="projectT.TestCases.TestCaseMaintanance"/>
      <class name="projectT.TestCases.TestCaseDashboard"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
